<div class="container-fluid">
    <div class="row">
        <div class="col-6" style="background-color: lightskyblue;">
            <button mat-flat-button color="primary">Angular Material Button Works</button>
    <!-- icons from material.io/resources/icons  -->
    <mat-icon style="font-size: 50px;" matTooltip="Example icon">face</mat-icon>
    <!-- <mat-icon style="font-size: 50px;" aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
        </div>
        <div class="col-6" style="background-color: lightpink;">
            <mat-slider color="primary" min="1" max="100" step="1" value="50"></mat-slider>
        </div>
    </div>
</div>