<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <app-balances></app-balances>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <app-indices></app-indices>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-6">
                    <app-portfolio></app-portfolio>
                </div>
                <div class="col-6 col-lg-6">
                    <app-gainers-losers></app-gainers-losers>
                </div>
            </div>
        </div>

    </div>

    <hr>
    <div class="row">
            <div class="col-12 col-lg-5">
                <app-advanced-pie-chart></app-advanced-pie-chart>
            </div>
        <div class="col-12 col-lg-7">
            <app-activity></app-activity>
        </div>
    </div>

</div>