/* These styles are here because the ngx-charts library's default advanced pie chart has some issues where numbers get cut off */
/deep/ .advanced-pie-legend /deep/ .legend-items-container /deep/ .legend-items /deep/ .legend-item /deep/ .item-value /deep/ 
{
    margin: 10px !important;
}

/deep/ .total-value /deep/
{
  margin-bottom: 10px !important;
}

/* only applies to small mobile screens */
@media (max-width: 355px) {
  /deep/ .advanced-pie-legend /deep/ .legend-items-container /deep/ .legend-items /deep/
  {
   overflow: initial !important;
 }
}
