<p>gainers-losers works!</p>
<div id="container">
    <div id="gainers">
        <h3>YOUR GAINERS</h3>
        <div class="investment">
            <span class="name">Apple Inc</span>
            <span class="index">+3.42%</span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
    </div>
    <div id="losers">
        <h3>YOUR LOSERS</h3>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
        <div class="investment">
            <span class="name"></span>
            <span class="index"></span>
        </div>
    </div>
</div>

