#container {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 20px;
    /* border-radius: 5px; */
}

h3 {
    text-align: center;
    font-weight: 900;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.investment {
    padding: 5px;
}

.investment {
    display: flex;
    justify-content: space-between;
}

.gr {
    color: rgb(102, 194, 41);
}

.rd {
    color: rgb(194, 47, 47);
}