<div id="container">
    <div id="gainers">
        <h3>YOUR GAINERS</h3>
        <div class="investment">
            <span class="name">{{gainerNames[0]}}</span>
            <span class="index" class="gr">+3.42%</span>
        </div>
        <div class="investment">
            <span class="name">{{gainerNames[1]}}</span>
            <span class="index" class="gr">+3.13%</span>
        </div>
        <div class="investment">
            <span class="name">{{gainerNames[2]}}</span>
            <span class="index" class="gr">+2.66%</span>
        </div>
        <div class="investment">
            <span class="name">{{gainerNames[3]}}</span>
            <span class="index" class="gr">+2.63%</span>
        </div>
        <div class="investment">
            <span class="name">{{gainerNames[4]}}</span>
            <span class="index" class="gr">+2.57%</span>
        </div>
    </div>
    <div id="losers">
        <h3>YOUR LOSERS</h3>
        <div class="investment">
            <span class="name">{{loserNames[0]}}</span>
            <span class="index" class="rd">-5.79%</span>
        </div>
        <div class="investment">
            <span class="name">{{loserNames[1]}}</span>
            <span class="index" class="rd">-5.22%</span>
        </div>
        <div class="investment">
            <span class="name">{{loserNames[2]}}</span>
            <span class="index" class="rd">-5.14%</span>
        </div>
        <div class="investment">
            <span class="name">{{loserNames[3]}}</span>
            <span class="index" class="rd">-4.79%</span>
        </div>
        <div class="investment">
            <span class="name">{{loserNames[4]}}</span>
            <span class="index" class="rd">-4.11%</span>
        </div>
    </div>
</div>

